@page "/"
<h3>Julia</h3>

@using amazing.fractals.Data
@inject JuliaGeneratorService GeneratorService



@code {
    private FractalGenerationData _genData;
    
    protected override async Task OnInitializedAsync()
    {
        _genData = await GeneratorService.Generate();
    }
}