<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-2">
    <div class="container">
        <NavLink class="navbar-brand" href="">Amazing fractals</NavLink>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="/">
                        <span class="oi" aria-hidden="true"></span> Julia sets
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="about">
                        <span class="oi" aria-hidden="true"></span> About
                    </NavLink>
                </li>  
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="contacts">
                        <span class="oi" aria-hidden="true"></span> Contacts
                    </NavLink>
                </li>                  
            </ul>
        </div>
    </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
